<html>
    <body>
        <p>
            nom:{{ contact.nom }}
        </p>
         <p>
            nom:{{ contact.email}}
        </p>
         <p>
            nom:{{ contact.message|nl2br }}
        </p>
    </body>
</html>